<!DOCTYPE html>
<html ng-app="Holiday">
<head>
    <meta charset="utf-8">
    <title>DASH LAYOUT <%= me %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/navbar_sticky-footer-navbar.css">
    <link rel="stylesheet" href="/styles/y-dashboard.css">
    <!--STYLES END-->
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = {
            _csrf: '<%= _csrf %>',
            me: <%- JSON.stringify(me) %>
        };
    </script>
</head>
<body>
<%- partial('./partials/navbarPrivat.ejs') %>

<div class="container-fluid">
    <%- body %>
</div>
<%- partial('./partials/footer.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/angular-resource.js"></script>
<script src="/js/dependencies/angular-animate.min.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/angular-ui-router.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/private/admin/departments/DepartmentModule.js"></script>
<script src="/js/private/admin/positions/PositionModule.js"></script>
<script src="/js/public/signup/SignupModule.js"></script>
<script src="/js/private/admin/users/UserModule.js"></script>
<script src="/js/private/admin/AdminModule.js"></script>
<script src="/js/public/homepage/HomepageModule.js"></script>
<script src="/js/private/dashboard/DashboardModule.js"></script>
<script src="/js/private/HolidayModule.js"></script>
<script src="/js/private/admin/ctrl/AdminController.js"></script>
<script src="/js/private/admin/departments/ctrl/DepartmentController.js"></script>
<script src="/js/private/admin/departments/ctrl/EditDepartmentController.js"></script>
<script src="/js/private/admin/departments/ctrl/ListDepartmentController.js"></script>
<script src="/js/private/admin/positions/ctrl/EditPositionController.js"></script>
<script src="/js/private/admin/positions/ctrl/ListPositionController.js"></script>
<script src="/js/private/admin/positions/ctrl/PositionController.js"></script>
<script src="/js/private/admin/users/ctrl/DeleteController.js"></script>
<script src="/js/private/admin/users/ctrl/EditController.js"></script>
<script src="/js/private/admin/users/ctrl/ListController.js"></script>
<script src="/js/private/admin/users/ctrl/UserController.js"></script>
<script src="/js/private/dashboard/account/ctrl/AccountController.js"></script>
<script src="/js/private/dashboard/ctrl/DashboardController.js"></script>
<script src="/js/private/mongodb/mongodbResource.js"></script>
<script src="/js/public/homepage/HomepageController.js"></script>
<script src="/js/public/signup/SignupController.js"></script>
<!--SCRIPTS END-->

</body>
</html>
